<div class="d-flex justify-space-between py-1" style="border-bottom:1px solid var(--mud-palette-divider);">
    <MudText Typo="Typo.body2" Style="opacity:0.6; font-weight:500;">@Label</MudText>
    <MudText Typo="Typo.body2" Class="font-medium text-right">@Value</MudText>
</div>

@code {
    [Parameter, EditorRequired] public string Label { get; set; } = "";
    [Parameter, EditorRequired] public string Value { get; set; } = "";
}
